# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Build/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.a
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Mac_Build.app/Contents/Data/Managed/Assembly-CSharp-firstpass.dll
Mac_Build.app/Contents/Data/Managed/Assembly-CSharp.dll
Mac_Build.app/Contents/Data/Managed/Assembly-UnityScript-firstpass.dll
Mac_Build.app/Contents/Data/Managed/Assembly-UnityScript.dll
Mac_Build.app/Contents/Data/Managed/Boo.Lang.dll
Mac_Build.app/Contents/Data/Managed/Ionic.Zip.Reduced.dll
Mac_Build.app/Contents/Data/Managed/JsonFx.Json.dll
Mac_Build.app/Contents/Data/Managed/Mono.Posix.dll
Mac_Build.app/Contents/Data/Managed/Mono.Security.dll
Mac_Build.app/Contents/Data/Managed/Parse.Unity.dll
Mac_Build.app/Contents/Data/Managed/Photon3Unity3D.dll
Mac_Build.app/Contents/Data/Managed/System.Configuration.dll
Mac_Build.app/Contents/Data/Managed/System.Core.dll
Mac_Build.app/Contents/Data/Managed/System.Security.dll
Mac_Build.app/Contents/Data/Managed/System.Xml.dll
Mac_Build.app/Contents/Data/Managed/System.dll
Mac_Build.app/Contents/Data/Managed/UnityEngine.dll
Mac_Build.app/Contents/Data/Managed/UnityScript.Lang.dll
Mac_Build.app/Contents/Data/Managed/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
Mac_Build.app/Contents/Data/Managed/etc/mono/1.0/machine.config
Mac_Build.app/Contents/Data/Managed/etc/mono/2.0/Browsers/Compat.browser
Mac_Build.app/Contents/Data/Managed/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Mac_Build.app/Contents/Data/Managed/etc/mono/2.0/machine.config
Mac_Build.app/Contents/Data/Managed/etc/mono/2.0/settings.map
Mac_Build.app/Contents/Data/Managed/etc/mono/2.0/web.config
Mac_Build.app/Contents/Data/Managed/etc/mono/browscap.ini
Mac_Build.app/Contents/Data/Managed/etc/mono/config
Mac_Build.app/Contents/Data/Managed/etc/mono/mconfig/config.xml
Mac_Build.app/Contents/Data/Managed/mscorlib.dll
Mac_Build.app/Contents/Data/Managed/uLink.dll
Mac_Build.app/Contents/Data/PlayerConnectionConfigFile
Mac_Build.app/Contents/Data/Resources/unity_builtin_extra
Mac_Build.app/Contents/Data/level0
Mac_Build.app/Contents/Data/level1
Mac_Build.app/Contents/Data/mainData
Mac_Build.app/Contents/Data/resources.assets
Mac_Build.app/Contents/Data/sharedassets0.assets
Mac_Build.app/Contents/Data/sharedassets1.assets
Mac_Build.app/Contents/Data/sharedassets2.assets
Mac_Build.app/Contents/Frameworks/MonoEmbedRuntime/osx/MonoBundleBinary
Mac_Build.app/Contents/Frameworks/MonoEmbedRuntime/osx/libMonoPosixHelper.dylib
Mac_Build.app/Contents/Frameworks/MonoEmbedRuntime/osx/libmono.0.dylib
Mac_Build.app/Contents/Info.plist
Mac_Build.app/Contents/MacOS/GunCraft
Mac_Build.app/Contents/PkgInfo
Mac_Build.app/Contents/Resources/Ageia.tif
Mac_Build.app/Contents/Resources/HID_override.plist
Mac_Build.app/Contents/Resources/KeyConfig.nib/classes.nib
Mac_Build.app/Contents/Resources/KeyConfig.nib/info.nib
Mac_Build.app/Contents/Resources/KeyConfig.nib/keyedobjects.nib
Mac_Build.app/Contents/Resources/MainMenu.nib/classes.nib
Mac_Build.app/Contents/Resources/MainMenu.nib/info.nib
Mac_Build.app/Contents/Resources/MainMenu.nib/keyedobjects.nib
Mac_Build.app/Contents/Resources/Mono.tif
Mac_Build.app/Contents/Resources/ScreenSelector.nib/classes.nib
Mac_Build.app/Contents/Resources/ScreenSelector.nib/info.nib
Mac_Build.app/Contents/Resources/ScreenSelector.nib/keyedobjects.nib
Mac_Build.app/Contents/Resources/UnityPlayerIcon.png
Mac_Build.app/Contents/Resources/unity default resources
