# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Build/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.a
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Mac_Build.app/Contents/Data/Managed/Assembly-CSharp-firstpass.dll
Mac_Build.app/Contents/Data/Managed/Assembly-CSharp.dll
Mac_Build.app/Contents/Data/Managed/Assembly-UnityScript-firstpass.dll
Mac_Build.app/Contents/Data/Managed/Assembly-UnityScript.dll
Mac_Build.app/Contents/Data/Managed/Boo.Lang.dll
Mac_Build.app/Contents/Data/Managed/Ionic.Zip.Reduced.dll
Mac_Build.app/Contents/Data/Managed/JsonFx.Json.dll
Mac_Build.app/Contents/Data/Managed/Mono.Posix.dll
Mac_Build.app/Contents/Data/Managed/Mono.Security.dll
Mac_Build.app/Contents/Data/Managed/Parse.Unity.dll
Mac_Build.app/Contents/Data/Managed/Photon3Unity3D.dll
Mac_Build.app/Contents/Data/Managed/System.Configuration.dll
Mac_Build.app/Contents/Data/Managed/System.Core.dll
Mac_Build.app/Contents/Data/Managed/System.Security.dll
Mac_Build.app/Contents/Data/Managed/System.Xml.dll
Mac_Build.app/Contents/Data/Managed/System.dll
Mac_Build.app/Contents/Data/Managed/UnityEngine.dll
Mac_Build.app/Contents/Data/Managed/UnityScript.Lang.dll
Mac_Build.app/Contents/Data/Managed/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
Mac_Build.app/Contents/Data/Managed/etc/mono/1.0/machine.config
Mac_Build.app/Contents/Data/Managed/etc/mono/2.0/Browsers/Compat.browser
Mac_Build.app/Contents/Data/Managed/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Mac_Build.app/Contents/Data/Managed/etc/mono/2.0/machine.config
Mac_Build.app/Contents/Data/Managed/etc/mono/2.0/settings.map
Mac_Build.app/Contents/Data/Managed/etc/mono/2.0/web.config
Mac_Build.app/Contents/Data/Managed/etc/mono/browscap.ini
Mac_Build.app/Contents/Data/Managed/etc/mono/config
Mac_Build.app/Contents/Data/Managed/etc/mono/mconfig/config.xml
Mac_Build.app/Contents/Data/Managed/mscorlib.dll
Mac_Build.app/Contents/Data/Managed/uLink.dll
Mac_Build.app/Contents/Data/PlayerConnectionConfigFile
Mac_Build.app/Contents/Data/Resources/unity_builtin_extra
Mac_Build.app/Contents/Data/level0
Mac_Build.app/Contents/Data/level1
Mac_Build.app/Contents/Data/mainData
Mac_Build.app/Contents/Data/resources.assets
Mac_Build.app/Contents/Data/sharedassets0.assets
Mac_Build.app/Contents/Data/sharedassets1.assets
Mac_Build.app/Contents/Data/sharedassets2.assets
Mac_Build.app/Contents/Frameworks/MonoEmbedRuntime/osx/MonoBundleBinary
Mac_Build.app/Contents/Frameworks/MonoEmbedRuntime/osx/libMonoPosixHelper.dylib
Mac_Build.app/Contents/Frameworks/MonoEmbedRuntime/osx/libmono.0.dylib
Mac_Build.app/Contents/Info.plist
Mac_Build.app/Contents/MacOS/GunCraft
Mac_Build.app/Contents/PkgInfo
Mac_Build.app/Contents/Resources/Ageia.tif
Mac_Build.app/Contents/Resources/HID_override.plist
Mac_Build.app/Contents/Resources/KeyConfig.nib/classes.nib
Mac_Build.app/Contents/Resources/KeyConfig.nib/info.nib
Mac_Build.app/Contents/Resources/KeyConfig.nib/keyedobjects.nib
Mac_Build.app/Contents/Resources/MainMenu.nib/classes.nib
Mac_Build.app/Contents/Resources/MainMenu.nib/info.nib
Mac_Build.app/Contents/Resources/MainMenu.nib/keyedobjects.nib
Mac_Build.app/Contents/Resources/Mono.tif
Mac_Build.app/Contents/Resources/ScreenSelector.nib/classes.nib
Mac_Build.app/Contents/Resources/ScreenSelector.nib/info.nib
Mac_Build.app/Contents/Resources/ScreenSelector.nib/keyedobjects.nib
Mac_Build.app/Contents/Resources/UnityPlayerIcon.png
Mac_Build.app/Contents/Resources/unity default resources
Mac_Build.app/**
GunCraft.app.zip
GunCraft.app/Contents/Data/Managed/Assembly-CSharp-firstpass.dll
GunCraft.app/Contents/Data/Managed/Assembly-CSharp.dll
GunCraft.app/Contents/Data/Managed/Assembly-UnityScript-firstpass.dll
GunCraft.app/Contents/Data/Managed/Assembly-UnityScript.dll
GunCraft.app/Contents/Data/Managed/Boo.Lang.dll
GunCraft.app/Contents/Data/Managed/Mono.Posix.dll
GunCraft.app/Contents/Data/Managed/Mono.Security.dll
GunCraft.app/Contents/Data/Managed/NSpeex.dll
GunCraft.app/Contents/Data/Managed/Parse.Unity.dll
GunCraft.app/Contents/Data/Managed/Photon3Unity3D.dll
GunCraft.app/Contents/Data/Managed/System.Configuration.dll
GunCraft.app/Contents/Data/Managed/System.Core.dll
GunCraft.app/Contents/Data/Managed/System.Security.dll
GunCraft.app/Contents/Data/Managed/System.Xml.dll
GunCraft.app/Contents/Data/Managed/System.dll
GunCraft.app/Contents/Data/Managed/UnityEngine.dll
GunCraft.app/Contents/Data/Managed/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
GunCraft.app/Contents/Data/Managed/etc/mono/1.0/machine.config
GunCraft.app/Contents/Data/Managed/etc/mono/2.0/Browsers/Compat.browser
GunCraft.app/Contents/Data/Managed/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
GunCraft.app/Contents/Data/Managed/etc/mono/2.0/machine.config
GunCraft.app/Contents/Data/Managed/etc/mono/2.0/settings.map
GunCraft.app/Contents/Data/Managed/etc/mono/2.0/web.config
GunCraft.app/Contents/Data/Managed/etc/mono/browscap.ini
GunCraft.app/Contents/Data/Managed/etc/mono/config
GunCraft.app/Contents/Data/Managed/etc/mono/mconfig/config.xml
GunCraft.app/Contents/Data/Managed/mscorlib.dll
GunCraft.app/Contents/Data/PlayerConnectionConfigFile
GunCraft.app/Contents/Data/Resources/unity_builtin_extra
GunCraft.app/Contents/Data/mainData
GunCraft.app/Contents/Data/resources.assets
GunCraft.app/Contents/Data/sharedassets0.assets
GunCraft.app/Contents/Frameworks/MonoEmbedRuntime/osx/MonoBundleBinary
GunCraft.app/Contents/Frameworks/MonoEmbedRuntime/osx/libMonoPosixHelper.dylib
GunCraft.app/Contents/Frameworks/MonoEmbedRuntime/osx/libmono.0.dylib
GunCraft.app/Contents/Info.plist
GunCraft.app/Contents/MacOS/GunCraft
GunCraft.app/Contents/PkgInfo
GunCraft.app/Contents/Resources/Ageia.tif
GunCraft.app/Contents/Resources/HID_override.plist
GunCraft.app/Contents/Resources/KeyConfig.nib/classes.nib
GunCraft.app/Contents/Resources/KeyConfig.nib/info.nib
GunCraft.app/Contents/Resources/KeyConfig.nib/keyedobjects.nib
GunCraft.app/Contents/Resources/MainMenu.nib/classes.nib
GunCraft.app/Contents/Resources/MainMenu.nib/info.nib
GunCraft.app/Contents/Resources/MainMenu.nib/keyedobjects.nib
GunCraft.app/Contents/Resources/Mono.tif
GunCraft.app/Contents/Resources/ScreenSelector.nib/classes.nib
GunCraft.app/Contents/Resources/ScreenSelector.nib/info.nib
GunCraft.app/Contents/Resources/ScreenSelector.nib/keyedobjects.nib
GunCraft.app/Contents/Resources/UnityPlayerIcon.png
GunCraft.app/Contents/Resources/unity default resources
PC_Build_Data/Managed/Assembly-CSharp-firstpass.dll
PC_Build_Data/Managed/Assembly-CSharp.dll
PC_Build_Data/Managed/Assembly-UnityScript-firstpass.dll
PC_Build_Data/Managed/Assembly-UnityScript.dll
PC_Build_Data/Managed/Boo.Lang.dll
PC_Build_Data/Managed/Mono.Posix.dll
PC_Build_Data/Managed/Mono.Security.dll
PC_Build_Data/Managed/NSpeex.dll
PC_Build_Data/Managed/Parse.Unity.dll
PC_Build_Data/Managed/Photon3Unity3D.dll
PC_Build_Data/Managed/System.Configuration.dll
PC_Build_Data/Managed/System.Core.dll
PC_Build_Data/Managed/System.Security.dll
PC_Build_Data/Managed/System.Xml.dll
PC_Build_Data/Managed/System.dll
PC_Build_Data/Managed/UnityEngine.dll
PC_Build_Data/Managed/mscorlib.dll
PC_Build_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
PC_Build_Data/Mono/etc/mono/1.0/machine.config
PC_Build_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
PC_Build_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
PC_Build_Data/Mono/etc/mono/2.0/machine.config
PC_Build_Data/Mono/etc/mono/2.0/settings.map
PC_Build_Data/Mono/etc/mono/2.0/web.config
PC_Build_Data/Mono/etc/mono/browscap.ini
PC_Build_Data/Mono/etc/mono/config
PC_Build_Data/Mono/etc/mono/mconfig/config.xml
PC_Build_Data/Mono/mono.dll
PC_Build_Data/PlayerConnectionConfigFile
PC_Build_Data/Plugins/Photon3Unity3D.dll
PC_Build_Data/Resources/unity default resources
PC_Build_Data/Resources/unity_builtin_extra
PC_Build_Data/mainData
PC_Build_Data/resources.assets
PC_Build_Data/sharedassets0.assets
Guncraft_Mac.zip
Guncraft_PC.zip
PC_Build_Data/Managed/UnityScript.Lang.dll
PC_Build_Data/level0
PC_Build_Data/sharedassets1.assets
Guncraft_Mac.app/Contents/Data/Managed/Assembly-CSharp-firstpass.dll
Guncraft_Mac.app/Contents/Data/Managed/Assembly-CSharp.dll
Guncraft_Mac.app/Contents/Data/Managed/Assembly-UnityScript-firstpass.dll
Guncraft_Mac.app/Contents/Data/Managed/Assembly-UnityScript.dll
Guncraft_Mac.app/Contents/Data/Managed/Boo.Lang.dll
Guncraft_Mac.app/Contents/Data/Managed/Mono.Posix.dll
Guncraft_Mac.app/Contents/Data/Managed/Mono.Security.dll
Guncraft_Mac.app/Contents/Data/Managed/NSpeex.dll
Guncraft_Mac.app/Contents/Data/Managed/Parse.Unity.dll
Guncraft_Mac.app/Contents/Data/Managed/Photon3Unity3D.dll
Guncraft_Mac.app/Contents/Data/Managed/System.Configuration.dll
Guncraft_Mac.app/Contents/Data/Managed/System.Core.dll
Guncraft_Mac.app/Contents/Data/Managed/System.Security.dll
Guncraft_Mac.app/Contents/Data/Managed/System.Xml.dll
Guncraft_Mac.app/Contents/Data/Managed/System.dll
Guncraft_Mac.app/Contents/Data/Managed/UnityEngine.dll
Guncraft_Mac.app/Contents/Data/Managed/UnityScript.Lang.dll
Guncraft_Mac.app/Contents/Data/Managed/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
Guncraft_Mac.app/Contents/Data/Managed/etc/mono/1.0/machine.config
Guncraft_Mac.app/Contents/Data/Managed/etc/mono/2.0/Browsers/Compat.browser
Guncraft_Mac.app/Contents/Data/Managed/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Guncraft_Mac.app/Contents/Data/Managed/etc/mono/2.0/machine.config
Guncraft_Mac.app/Contents/Data/Managed/etc/mono/2.0/settings.map
Guncraft_Mac.app/Contents/Data/Managed/etc/mono/2.0/web.config
Guncraft_Mac.app/Contents/Data/Managed/etc/mono/browscap.ini
Guncraft_Mac.app/Contents/Data/Managed/etc/mono/config
Guncraft_Mac.app/Contents/Data/Managed/etc/mono/mconfig/config.xml
Guncraft_Mac.app/Contents/Data/Managed/mscorlib.dll
Guncraft_Mac.app/Contents/Data/PlayerConnectionConfigFile
Guncraft_Mac.app/Contents/Data/Resources/unity_builtin_extra
Guncraft_Mac.app/Contents/Data/level0
Guncraft_Mac.app/Contents/Data/mainData
Guncraft_Mac.app/Contents/Data/resources.assets
Guncraft_Mac.app/Contents/Data/sharedassets0.assets
Guncraft_Mac.app/Contents/Data/sharedassets1.assets
Guncraft_Mac.app/Contents/Frameworks/MonoEmbedRuntime/osx/MonoBundleBinary
Guncraft_Mac.app/Contents/Frameworks/MonoEmbedRuntime/osx/libMonoPosixHelper.dylib
Guncraft_Mac.app/Contents/Frameworks/MonoEmbedRuntime/osx/libmono.0.dylib
Guncraft_Mac.app/Contents/Info.plist
Guncraft_Mac.app/Contents/MacOS/GunCraft
Guncraft_Mac.app/Contents/PkgInfo
Guncraft_Mac.app/Contents/Resources/Ageia.tif
Guncraft_Mac.app/Contents/Resources/HID_override.plist
Guncraft_Mac.app/Contents/Resources/KeyConfig.nib/classes.nib
Guncraft_Mac.app/Contents/Resources/KeyConfig.nib/info.nib
Guncraft_Mac.app/Contents/Resources/KeyConfig.nib/keyedobjects.nib
Guncraft_Mac.app/Contents/Resources/MainMenu.nib/classes.nib
Guncraft_Mac.app/Contents/Resources/MainMenu.nib/info.nib
Guncraft_Mac.app/Contents/Resources/MainMenu.nib/keyedobjects.nib
Guncraft_Mac.app/Contents/Resources/Mono.tif
Guncraft_Mac.app/Contents/Resources/ScreenSelector.nib/classes.nib
Guncraft_Mac.app/Contents/Resources/ScreenSelector.nib/info.nib
Guncraft_Mac.app/Contents/Resources/ScreenSelector.nib/keyedobjects.nib
Guncraft_Mac.app/Contents/Resources/UnityPlayerIcon.png
Guncraft_Mac.app/Contents/Resources/unity default resources
